# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
backend.log

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.DS_Store

# Scraper Output
images/
netflix_records.csv
netflix_scraper_export.zip
temp_export/

# System
.DS_Store
.idea/
.vscode/
